.book-service {
	margin-top: 120px;
	height: 540px;
	padding: 70px 0px;
	background-color: $first-color;
	.container{
		display: flex;
		justify-content: space-between;
	}
	&_title {
		color: #FFFFFF;
		margin-bottom: 15px;
		width: 605px;
		margin-right: 140px;
		line-height: 66px;
	}
	&_wrapper {
		width: 715px;
		display: flex;
		min-height: 390px;
		flex-direction: column;
		font-family: 'Open Sans';
		font-weight: 400;
		color: #FFFFFF;
	}
	&_subscr {
		font-size: 26px;
		line-height: 130%;
	}
	&_text{
		display: flex;
		gap: 15px;
		margin-top: 40px;
		font-size: 16px;
		line-height: 120%;
		span {
			width: 50%;
		}
	}
	&_button {
		display: block;
		margin-top: 35px;
		padding: 7px 114px;
		width: 100%;
		height: 40px;
		background: #FFFFFF;
		border-radius: 50px;
		font-family: 'Fjalla One';
		font-weight: 400;
		font-size: 24px;
		text-transform: uppercase;
		color: $first-color;
		&:hover {
			color: #FFFFFF;
			background: $first-color;
			border: solid 2px #FFFFFF;
		}
	}
}