.problems {
	margin-top: 120px;
	&_title {
		display: flex;
		align-items: end;
		padding-bottom: 15px;
		.title {
			width: 50%;
		}
	}
	&_info {
		max-width: 350px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		padding-left: 20px;
	}
	&_item {
		padding: 20px 0px;
		display: flex;
		justify-content: space-between;
		font-family: 'Open Sans';
		font-weight: 400;
		border-top: 1px solid rgba($color: $first-color, $alpha: 0.6);
		img {
			margin-right: 30px;
			object-fit: contain;
		}
	}
	&_subtitle {
		min-width: 250px;
		margin-right: 120px;
		font-weight: 600;
		font-size: 18px;
	}
	&_text {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		font-size: 14px;
		line-height: 17px;
		width: 715px;
		span {
			width: 50%;
		}
	}
}