.about {
	margin-top: 80px;
	&_title {
		margin-bottom: 10px;
	}
	&_images {
		margin: 15px auto;
		display: flex;
		justify-content: space-between;
		img {
			display: block;
			max-width: 50%;
			margin-right: 15px;
			object-fit: contain;
			align-self: start;
		}
	}
	&_descr {
		display: grid;
		grid-template-columns: 50% 25% 25%;
	}
	&_item {
		position: relative;
		height: 100%;
		padding-right: 20px;
		padding-bottom: 10px;
		&::before{
			content: "";
			position: absolute;
			background-color: $first-color;
			height: 100%;
			width: 1px;
			opacity: 0.6;
			left: -15px;
		}
		&:first-child {
			&::before {
				display: none;
			}
		}
		&_title {
			margin-top: 15px;
			font-family: 'Fjalla One';
			font-weight: 400;
			font-size: 24px;
			line-height: 26px;
			color: $first-color;
		}
		.big_title {
			font-size: 34px;
			line-height: 37PX;
		}
		&_text {
			margin-top: 5px;
			font-family: 'Open Sans';
			font-weight: 400;
			font-size: 14px;
			line-height: 15px;
			color: $first-color;
		}
		.compact_text {
			margin-top: 8px;
			max-width: 373px;
		}
	}
	.button {
		margin-top: 30px;
	}
}

@media (max-width: 991.98px){
	.about {
		.container {
			width: 100%;
			padding: 0 20px;
		}
		&_descr {
			grid-template-columns: 1fr 1fr 1fr;
		}
		.big_title {
			font-size: 24px;
		}
	}
}

@media (max-width: 767.98px) {
	.about {
		.big_title {
			font-size: 34px;
		}
		.compact_text {
			max-width: 100%;
		}
		&_descr {
			grid-template-columns: 1fr 1fr;
			.item_1 {
				grid-column: 1/3;
				border-bottom: $border;
				padding-bottom: 20px;
			}
			.item_2 {
				border-bottom: $border;
				&::before {
					display: none;
				}
			}			
			.item_3 {
				border-left: $border;
				border-bottom: $border;
				padding-left: 10px;
				&::before {
					display: none;
				}
			}		
		}
	}
}

@media (max-width: 576.98px) {
	.about {
		&_descr {
			grid-template-columns: 1fr;
			.item_1 {
				grid-column: 1/2;
			}
			.item_3 {
				border-left: none;
				border-bottom: none;
				padding-left: 0;
			}
		}
		.big_title {
			font-size: 24px;
			line-height: 26px;
		}
		&_item {
			padding-right: 0;
		}
	}
}