.areas{
	margin-top: 120px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	&_list {
		width: 50%;
		ol {
			list-style-type: none;
			position: relative;
		}
	}
	&_city {
		border-top: $border;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 30px;
		line-height: 58px ;
		text-align: right;
		text-transform: uppercase;
		color: $first-color;
		span {
			font-size: 16px;
			position: absolute;
			left: 0;
		}
		a {
			color: $first-color;
			&:focus, &:active {
				outline: none;
			}
		}
		&_bold {
			font-weight: 600;
		}
	}
}

@media (max-width: 991.98px){
	.areas {
		.container {
			width: 100%;
			padding: 0 20px;
		}
		.title {
			margin-right: 20px;
		}
	}
}

@media (max-width: 767.98px) {
	.areas {
		.container {
			display: block;
		}
		.title {
			margin-right: 20px;
		}
		&_list {
			margin-top: 30px;
			width: 100%;
		}
	}
}

@media (max-width: 576.98px) {
	.areas {
		margin-top: 100px;
		.container {
			padding: 0 10px;
		}
		.title {
			font-size: 40px;
			line-height: 44px;
		}
		.subtitle {
			margin-top: 5px;
		}
		&_city {
			line-height: 48px ;
		}
	}
}