.areas-repair {
	margin-top: 120px;
	.title {
		padding-bottom: 15px;
	}
	&_items {
		display: flex;
		flex-direction: column;
		align-items: end;
	}
	&_item {
		padding: 20px 0px;
		width: 1100px;
		display: flex;
		justify-content: space-between;
		border-bottom: $border;
	}
	&_subtitle {
		font-family: 'Open Sans';
		font-weight: 600;
		font-size: 20px;
		line-height: 22px;
		width: 290px;
	}
	&_text {
		width: 720px;
		display: flex;
		gap: 15px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: justify;
		span {
			width: 50%;
		}
	}
}