.areas{
	margin-top: 120px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	&_list {
		width: 50%;
		ol {
			list-style-type: none;
			position: relative;
		}
	}
	&_city {
		border-top: 1px solid rgba($color: $first-color, $alpha: 0.6);
		font-family: 'Inter';
		font-weight: 400;
		font-size: 30px;
		line-height: 58px ;
		text-align: right;
		text-transform: uppercase;
		color: $first-color;
		span {
			font-size: 16px;
			position: absolute;
			left: 0;
		}
		a {
			color: $first-color;
			&:focus, &:active {
				outline: none;
			}
		}
	}
}