.book-a-service {
	padding-top: 80px;
	padding-bottom: 80px;	
	.title {
		text-align: center;
		font-size: 96px;
		line-height: 96px;
	}
	.form {
		padding-top: 50px;
		width: 730px;
		margin: 0 auto;
		&_input {
			margin-top: 20px;
			height: 25px;
			&::placeholder {
				text-transform: uppercase;
				color: $first-color;
				opacity: 0.6;
			}
		}
		textarea {
			border: 1px solid rgba(34, 35, 37, 0.6);
			padding: 15px;
			min-height: 190px;
			resize: none;
		}
	}
	.privacy {
		margin-top: 10px;
		font-family: 'Open Sans';
		font-weight: 400;
		line-height: 120%;
		color: $first-color;
	}
	.button {
		margin-top: 30px;
		height: 50px;
		font-size: 20px;
		line-height: 20px;
		padding: 16px;
	}
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba($color: #000000, $alpha: .56)
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 500px;
	background-color: #F8FAFF;
	padding: 100px 60px 40px 60px;
	text-align: center;
	z-index: 2;
	.button {
		margin-top: 100px;
	}
}