.brands {
	margin-top: 120px;
	&_items {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(6, 208px);
	}
	&_item {
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 1px solid $first-color;
		transition: all 0.7s;
		img {
			display: block;
			cursor: pointer;
			transition: all 0.7s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}