.button {
	box-sizing: border-box;
	display: block;
	margin: 15px 0px;
	height: 40px;
	background: $first-color;
	border-radius: 50px;
	font-family: 'Fjalla One';
	font-weight: 400;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	align-self: flex-end;
	transition: all 0.3s;
	width: 100%;
	&:hover {
		background: #F8FAFF;
		color: $first-color;
		border: 1px solid $first-color;
	}
}

.line {
	background: $first-color;
	opacity: 0.6;
	height: 1px;
	width: 100%;
	&_none {
		display: none;
	}
}

.title {
	color: $first-color;
	font-family: 'Fjalla One';
	font-weight: 400;
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
	span {
		color: $second-color;
	}
}

.subtitle {
	margin-top: 15px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: $first-color;
}

.active {
	display: block;
	opacity: 1;
	&_flex {
		display: flex;
	}
	&_plus{
		&::after {
			transform: rotate(0deg);
		}
	}
	&_rotate {
		transform: rotate(180deg);
	}
}