.contact {
	margin-top: 120px;
	height: 600px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $first-color;
	&_title {
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	.line {
		background: #FFFFFF;
	}
	&_wrapper {
		display: flex;
		padding: 40px 0;
		min-height: 390px;
	}
	&_images {
		display: flex;
		gap: 14px;
		margin-right: 15px;
		img {
			width: 100%;
		}
	}
	input {
		background-color: $first-color;
	}
	&_form {
		position: relative;
		padding-left: 15px;
		&::before {
			content:"";
			position: absolute;
			background-color: #FFFFFF;
			height: 400px;
			width: 1px;
			opacity: 0.6;
			left: 0px;
			top: -40px;
		}
		&_title {
			font-family: 'Fjalla One';
			font-weight: 400;
			font-size: 26px;
			align-items: center;
			text-transform: uppercase;
			color: #FFFFFF;
		}
		&_input{
			margin-top: 15px;
			width: 350px;
			height: 18px;
			font-family: 'Open Sans';
			color:#FFFFFF;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.6);
			&::placeholder {
				text-transform: uppercase;
				color: #FFFFFF;
				opacity: 0.3;
			}
		}
		&_button {
			display: block;
			margin-top: 20px;
			padding: 7px 114px;
			width: 350px;
			height: 40px;
			background: #FFFFFF;
			border-radius: 50px;
			font-family: 'Fjalla One';
			font-weight: 400;
			font-size: 24px;
			text-transform: uppercase;
			color: $first-color;
			&:hover {
				color: #FFFFFF;
				background: $first-color;
				border: solid 2px #FFFFFF;
			}
		}
	}
}