.call {
	margin-top: 160px;
	.title {
		max-width: 606px;
		margin: 0 auto;
		text-align: center;
		line-height: 66px;
	}
	.button {
		margin: 20px auto;
		width: 573px;
	}
	&_phone {
		margin-top: 25px;
		font-family: 'Fjalla One';
		font-weight: 400;
		font-size: 33px;
		text-align: center;
		text-transform: uppercase;
		color: $first-color;
	}
	.line {
		margin-top: 10px;
		opacity: 1;
		&_1 {
			opacity: 0.4;
			margin-top: 40px;
		}
		&_2 {
			opacity: 0.5;
		}
		&_3 {
			opacity: 0.6;
		}
		&_4 {
			opacity: 0.7;
		}
		&_5 {
			opacity: 0.8;
		}
		&_6 {
			opacity: 0.9;
		}
	}
}

.footer{
	font-family: 'Open Sans';
	color: $first-color;
	&_wrapper {
		display: flex;
	}
	&_social {
		width: 160px;
		margin-right: 205px;
		margin-top: 50px;
		&_icons {
			margin-top: 10px;
			img {
				margin-right: 10px;
			}
		}
	}
	.logo {
		img{
		width: 112px;
		height: 74px;
		}
	}
	.mail_link {
		display: block;
		margin-top: 15px;
		font-size: 16px;
		color: $first-color;
	}
	&_info {
		width: 100%;
		&_wrapper {
			display: flex;
			min-height: 180px;
			padding-bottom: 35px;
			padding-top: 20px;
			border-left: $border;
		}
	}
	&_contacts {
		margin-top: 60px;
		font-weight: 400;
		font-size: 18px;
	}
	&_address {
		width: 190px;
		position: relative;
		line-height: 20px;
		&::before {
			content: url(../../svgicons/nav.svg);
			position: absolute;
			left: -25px;
			top: -3px;
		}
	}
	&_schedule {			
		margin-top: 15px;
		position: relative;
		&::before {
			content: url(../../svgicons/clock.svg);
			position: absolute;
			left: -25px;
			top: -3px;
		}
	}
	&_phone {
		margin-top: 15px;
		position: relative;
		&::before {
			content: url(../../svgicons/phone-footer.svg);
			position: absolute;
			left: -25px;
		}
	}
	&_menu {
		margin-left: 75px;
		width: 260px;
		&_list {
			margin-top: 35px;
			font-size: 18px;
		}
		&_name {
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 10px;
		}
		a {
			color: $first-color;

		}
		li {
			margin-top: 5px;
		}
	}
	&_authorship {
		padding: 15px;
		padding-left: 375px;
		display: flex;
		justify-content: space-between;
		&_name {
			text-transform: uppercase;
		}
	}
}