.header {
	background-color: rgba($color: #F8FAFF, $alpha: 0.7);
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 102px;
		padding: 0px 70px;
	}
	&_menu {
		display: flex;
		justify-content: space-between;
		min-width: 55%;
		&_link {
			color: $first-color;
			font-family: 'Fjalla One';
			font-weight: 400;
			font-size: 15px;
			line-height: 33px;
			text-transform: uppercase;
			color: $first-color;
			z-index: 10;
		}
	}
	.logo {
		height: 49px;
		width: 85px;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.menu {
		display: none;
	}
	&_contacts{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 131px;
	}
	&_phone {
		font-family: 'Fjalla One';
		font-weight: 400;
		font-size: 15px;
		text-transform: uppercase;
		color: $first-color;
	}
	&_line {
		width: 100%;
	}
	.hamburger {
		display: none;
	}
}


