.header {
	width:100vw;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 102px;
		padding: 15px 70px;
	}
	&_menu {
		display: flex;
		justify-content: space-between;
	}
	.logo {
		height: 49px;
		width: 85px;
	}
	.menu {
		display: flex;
		justify-content: space-between;
		min-width: 517px;
		margin-right: 67px;
		font-family: 'Fjalla One';
		font-weight: 400;
		font-size: 15px;
		line-height: 33px;
		text-transform: uppercase;
		color: $first-color;
		&_item {
			margin-right: 30px;
		}
	}
	&_contacts{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 131px;
	}
	&_phone {
		font-family: 'Fjalla One';
		font-weight: 400;
		font-size: 15px;
		text-transform: uppercase;
		color: $first-color;
	}
	&_line {
		width: 100%;
		height: 1px;
		background-color: $first-color;
		opacity: 0.6;
	}
}