@media (max-width: 1199.98px){
	.header {
		.container {
			max-width: 970px;
			padding: 13px 30px;
	}
		&_menu {
			width: 85%;
		}
	}
}

@media (max-width: 991.98px){
	.header {
		.container {
			max-width: 750px;
			height: 90px;
			justify-content: start;
		}
		.logo {
			margin-right: 20px;
		}
		&_contacts {
			min-width: 120px;
			a {
				font-size: 14px;
			}
			img {
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 767.98px) {	
	.header {
		.container {
			display: flex;
			justify-content: space-between;
			max-width: 100%;
			padding: 7px 20px;
			height: 40px;
		}
		.logo {
			height: 22px;
			width: 38px;
			margin-right: 0;
			margin-left: 125px;
		}
		&_menu{
			width: 125px;
			min-width: 0;
			&_link {
			display: none;
		}
		}

		.lock {
			overflow: hidden;
		}
		.menu {
			display: flex;
			position: fixed;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			top: 0;
			left: 0;
			left: -100%;
			max-width: 310px;
			min-width: 310px;
			height: 100vh;
			padding: 15px 26px 15px 10px;
			background-color:rgba($color: $first-color, $alpha: 0.85);
			transition: 0.6s all;
			font-family: 'Fjalla One';
			font-weight: 400;
			font-size: 15px;
			line-height: 33px;
			text-transform: uppercase;
			color: $first-color;
			z-index: 10;
			&_active {
				left: 0;
			}
			&_top {
				position: absolute;
				top: 0px;
				padding-top: 15px;
				height: 50px;
				width: 280px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&_logo {		
				display: block;
				img {
					width: 50px;
					height: 28px;
				}
			}
			&_close {		
				display: block;
				position: relative;
				height: 24px;
				div {
					width: 24px;
					height: 24px;
					cursor: pointer;
					&::before,
					&::after {
					content: "";
					position:absolute;
					width: 24px;
					height: 2px;
					top: 50%;
					background-color:#FFFFFF;
					}
					&::after {
						transform: rotate(-45deg);
					}
					&::before {
						transform: rotate(45deg);

					}
				}
			}
			&_line {
				display: block;
				height: 1px;
				background-color: #D9D9D9;
				width: 100%;
				margin: 20px 0;
			}
			&_item {
				width: 100%;
				transition: 0.6s all;
				&_list {
					display: none;
					margin-left: 50px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					color: #FFFFFF;
					text-transform:none;
					&_active {
						display: block;
					}
				}
				&_name {
					width: 100%;
					display: flex;
					justify-content: space-between;
					img {
						display: block;
						transition: transform 0.3s ease 0s;
					}
				}
				&_plus {
					width: 100%;
				}
			}
			&_link {
				font-size: 15px;
				color: #FFFFFF;
				a {
					display: block;
				}
			}
		}
		&_contacts {
			width: 125px;
			img {
				width: 17px;
				height: 17px;
				margin-right: 0;
			}
		}
		&_phone {
			font-size: 14px;
			line-height: 27px;
		}
		.hamburger {
			display: block;
			width: 23px;
			height: 13px;
				span {
					display: block; 
					height: 2px;
					width: 100%;
					background-color: #000 ;
					margin-bottom: 4px;
					transition: 0.5s all;
					}
		}
	}
}

@media (max-width: 576.98px) {
	.header {
		.container {
			max-width: 100%;
			padding: 0 10px;
			height: 30px;
		}
		.hamburger {
			margin-right: 90px;
		}
		.logo {
			margin: 0;
		}
		.menu {
			width: 300px;
		}
		&_menu {
			width: 110px;
		}
		&_contacts {
			width: 100%;
			min-width: 0;
			img {
				width: 17px;
				height: 17px;
			}
		}
	}

}