.partners {
	margin-top: 120px;
	&_list {
		display: grid;
		margin-left: 745px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 91px);
		
	}
	&_icon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid rgba($color: $first-color, $alpha: 0.6);
	}
}