.promo {
	padding-top: 102px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	.title {
		padding: 38px 10px 18px 0;
		font-size: 98px;
		line-height: 100%;
		width: 715px;
	}
	&_descr {
		padding: 38px 0px 18px 15px;
		border-left: $border;
		p {
			max-width: 350px;
			text-align: justify;
			font-family: 'Open Sans';
			font-weight: 400;
			font-size: 14px;
			line-height: 15px;
			color: $first-color;
		}
	}
}

@media (max-width: 1199.98px){
	.promo {
		.container {
			max-width: 970px;
		}
		.title {
			font-size: 80px;
		}
	}
}

@media (max-width: 991.98px){
	.promo {
		.container {
			width: 100%;
			padding: 0 20px;
		}
		.title {
			font-size: 75px;
		}
	}
}
@media (max-width: 767.98px){
	.promo {
		min-height: 330px;
		.container {
			max-width: 100%;
			display: block;
		}
		.title {
			padding: 20px 0px 0px 0;
			width: 608px;
		}
		&_descr {
			margin-top: 35px;
			width: 290px;
			border-left: none;
			padding: 0px;
			float: right;
		}
	}
}
@media (max-width: 576.98px) {
	.promo {
		min-height: 244px;
		.container {
		max-width: 100%;
		padding: 0 10px 15px 10px;
	}
	.title {
		font-size: 48px;
		max-width: 302px;
	}
	&_descr {
		margin: 20px auto 0 auto;
		padding: 0px;
		float: none;
	}
	}
}
