.promo {
	min-height: 255px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	.title {
		padding: 38px 10px 18px 0;
		font-size: 98px;
		line-height: 100%;
	}
	&_descr {
		padding: 38px 0px 18px 15px;
		border-left: 1px solid rgba($color: $first-color, $alpha: 0.6);
		p {
			max-width: 350px;
			text-align: justify;
			font-family: 'Open Sans';
			font-weight: 400;
			font-size: 14px;
			line-height: 15px;
			color: $first-color;
		}
	}
}