.reviews {
	margin-top: 120px;
	text-align: center;
	.container {
		display: flex;
		justify-content: space-between;
		padding-right: 0;
	}
	.title {
		max-width: 440px;
		text-align: left;
		margin-right: 40px;
	}
	.slider_min_items {
		display: none;
	}
	&_button {
		display: none;
	}
	.slider {
		position: relative;
		width: 857px;
		height: 350px;
		margin: 0;
		&_item {
			text-align: left;
			margin-right: 15px;
			padding: 40px 20px 70px 13px ;
			max-width: 350px;
			background: $first-color;
			border-radius: 6px;
			color: #FFFFFF;
			font-family: 'Open Sans';
			&_name {
				font-weight: 600;
				font-size: 18px;
			}
			&_text {
				margin-top: 30px;
				width: 317px;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
			}
		}
	}
	.swiper-buttons {
		position: relative;
	}

	.swiper-button-next {
		position: absolute;
		left: -110px;
		top: 380px;
	}
	.swiper-button-prev {
		position: absolute;
		left: -145px;
		top: 380px;
	}

	.swiper-button-prev, .swiper-button-next {
		&::after {
			font-size: 25px;
			font-weight: bold;
			color: $first-color;
		}
	}
}

@media (max-width: 1199.98px) {
	.reviews {
		.container {
			padding: 0 20px;
			flex-direction: column;
		}
		.title {
			margin-right: 0;
			width: 600px;
			margin-bottom: 30px;
		}
		.slider {
			width: 100%;
			padding: 0;
		}
		.swiper-buttons{
			height: 40px;
		}
		.swiper-button-next {
			position: absolute;
			left: 52%;
			top: 50%;
		}
		.swiper-button-prev {
			position: absolute;
			left: 48%;
			top: 50%;
		}
	}

}

@media (max-width: 991.98px){}

@media (max-width: 767.98px) {
	.reviews {
		.container {
			padding: 0 10px;
		}
		.title {
			margin-bottom: 20px;
			padding-left: 20px;
		}
		.swiper-button-next {
			position: absolute;
			left: 54%;
			top: 50%;
		}
		.swiper-button-prev {
			position: absolute;
			left: 46%;
			top: 50%;
		}
	}
}

@media (max-width: 576.98px) {
	.reviews {
		padding-bottom: 10px;
		.title {
			width: 300px;
			font-size: 40px;
			line-height: 44px;
			padding-left: 0;
		}
		.swiper {
			display: none;
		}
		.swiper-buttons{
			display: none;;
		}

		.slider_min_items{
			display: flex;
			flex-direction: column;
		}
		.slider_item {
			display: none;
			margin: 0 auto;
			margin-top: 10px;
			width: 300px;
			height: 300px;
			&_visible {
				display: block;
			}
			&_block {
				display: block;
			}
			&_text {
				width: 100%;
			}
		}
		&_button {
			margin: 0 auto;
			width: 100%;
			display: block;
			margin-top: 10px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 110%;
			text-align: center;
		}
	}
}