.reviews {
	margin-top: 120px;
	text-align: center;
	.container {
		display: inline-flex;
		padding-right: 0;
	}
	.title {
		min-width: 442px;
		margin-right: 303px;
		text-align: left;
	}
	.slider {
		position: relative;
		width: 857px;
		height: 350px;
		margin: 0;
		&_item {
			text-align: left;
			margin-right: 15px;
			padding: 40px 20px 70px 13px ;
			max-width: 350px;
			background: $first-color;
			border-radius: 6px;
			color: #FFFFFF;
			font-family: 'Open Sans';
			&_name {
				font-weight: 600;
				font-size: 18px;
			}
			&_text {
				margin-top: 30px;
				width: 317px;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
			}
		}
	}
	.swiper-buttons {
		position: relative;
		width: 10px;
	}

	.swiper-button-next {
		position: absolute;
		left: -110px;
		top: 380px;
	}
	.swiper-button-prev {
		position: absolute;
		left: -145px;
		top: 380px;
	}

	.swiper-button-prev, .swiper-button-next {
		&::after {
			font-size: 25px;
			font-weight: bold;
			color: $first-color;
		}
	}
}