.services {
	padding-top: 120px;
	&_first {
		position: relative;
		right: -50%;
		height: 300px;
		width: 50%;
		border-left: $border;
	}
	&_descr {
		display: flex;
		position: relative;
		padding-top: 23px;
		color: $first-color;
		text-align: justify;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		span {
			display: block;
			width: 50%;
			padding-left: 15px;
		}
	}
	&_second {
		display: grid;
		grid-template-columns: 25% 75%;
	}
	&_title {
		margin-top: 20px;
	}
	&_list {
		margin-top: 5px;
		display: flex;
		flex-direction: column;
	}
	&_name {
		padding-top: 15px;
		font-family: 'Open Sans';
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: $first-color;
	}
	&_subtitle {
		padding-top: 15px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 18px;
		color: $first-color;		
		line-height: 24px;
	}
	&_plus {
		float: right;
		width: 24px;
		height: 24px;
		cursor: pointer;
		&::before,
		&::after {
		content: "";
		position:absolute;
		top: 26px;
		width: 24px;
		height: 2px;
		background-color:$first-color;
		transition: transform 0.3s ease 0s;
		}
		&::after {
			transform: rotate(-90deg);
		}
	}
	&_img {
		position: relative;
		max-width: 255px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			object-fit:cover;
		}
		
	}
	&_text {
		padding-bottom: 10px;
		color: $first-color;
		text-align: justify;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
	&_button {
		grid-column: 3 / 4;
		.button {
			margin: 0;
			height: 40px;
			background: $first-color;
			border-radius: 50px;
			font-family: 'Fjalla One';
			font-weight: 400;
			font-size: 26px;
			line-height: 40px;
			text-align: center;
			text-transform: uppercase;
			color: #FFFFFF;
			&:hover {
				background: #FFFFFF;
				color: $first-color;
				border: 1px solid $first-color;
			}
		}
	}
	.mb15 {
		margin-bottom: 15px;
	}
	&_item {
		position: relative;
		display: grid;
		grid-template-columns: 32% 35% auto;
		grid-template-rows: 24px minmax(160px auto) 40px 1px;
		column-gap: 15px;
		row-gap: 15px;
	}
	.line {
		&_long {
			margin-top: 0px;
		}
		&_short {
			grid-column: 2 / 4;
			margin-top: 0px;
		}
	}
}

.grid-hiderows {
	grid-template-rows: 40px 0px 0px 1px;
	row-gap: 0px;
	margin-bottom: 15px;
	.services_img {
		display: none;
	}
	.services_text{
		display: none;
	}
	.services_button {
		display: none;
		margin-bottom: 0;
	}
	.line_short{
		margin-top: 15px;
	}

}