.problems {
	margin-top: 120px;
	&_title {
		margin-top: 20px;
		display: flex;
		align-items: end;
		padding-bottom: 15px;
		.title {
			width: 50%;
		}

	}
	&_info {
		width: 50%;
		max-width: 350px;
		display: flex;
		align-items: end;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		padding-left: 20px;
		padding-top: 20px;
		gap:15px;
	}
	.long-text {
		max-width: 700px;
		span {
			width: 50%;
		}
	}
	&_item {
		padding: 20px 0px;
		display: flex;
		justify-content: space-between;
		font-family: 'Open Sans';
		font-weight: 400;
		border-top: $border;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&_subtitle {
		display: flex;
		justify-content: space-between;
		width: 715px;
		font-weight: 600;
		font-size: 18px;
	}
	&_text {
		display: flex;
		justify-content: space-between;
		margin-left: 30px;
		gap: 15px;
		font-size: 14px;
		line-height: 17px;
		width: 715px;
		span {
			width: 50%;
		}
	}
}

@media (max-width: 767.98px){
	.problems {
		margin-top: 100px;
		.title {
			font-size: 40px;
			line-height: 44px;
		}
		&_info {
			width: 50%;
		}
		&_subtitle{
			&_1 {
				display: block;			
			}

		}
		&_item {
			&_img {
				margin-top: 15px;
			}
		}
		&_text{
			flex-direction: column;
			gap: 5px;
			margin-left: 20px;
			span {
				width: 100%;
			}
			&_1 {
				margin-top: 30px;
			}
		}
	}
}
@media (max-width: 576.98px) {
	.problems {
		margin-top: 80px;
		&_title {
			flex-direction: column;
			align-items: start;
			width: 100%;
		}
		.title {
			width: 100%;
		}
		&_info {
			width: 100%;
			padding-left: 0;
			margin-top: 30px;
		}
		&_item {
			flex-direction: column;
			&_img {
				width: 300px;
			}
		}
		&_subtitle {
			width: 100%;
		}
		&_text {
			width: 100%;
			margin-left: 0;
		}
	}
}
