.service-main {
	margin-top: 73px;
	min-width: 900px;
	.container {
		display: grid;
		grid-template-columns: 800px auto;
		grid-template-rows: 290px 270px;
		column-gap: 15px;
		row-gap: 300px;
	}
	.title {
		font-size: 98px;
		line-height: 98px;
	}
	.form {
		border-top: $border;
		border-bottom: $border;
	}
	.button {
		margin-top: 30px;
	}
	&_img {
		grid-row-start: 1;
		grid-row-end: 3;
		display: block;
		object-fit: contain;
	}
	&_text {
		margin-top: 5px;
		width: 350px;
		font-family: 'Open Sans';
		text-align: justify;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $first-color;
	}
}