
//<Icons Fonts>=================================================================================
//@import "icons";
//</Icons Fonts>=================================================================================

//<Default font>================================================================================
//$fontFamily: ;
//</Default font>================================================================================

//</FONTS>=======================================================================================

//<VARIABLES>====================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$md1: 1460;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$first-color: #0C0E5D;
$second-color: #FFCC00;
//</VARIABLES>====================================================================================

//<NULL, COMMON PARAMETERS>========================================================================
@import "base/null";
body {
	background-color: #F8FAFF;
	color: $first-color;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</NULL, COMMON PARAMETERS>========================================================================

//<blocks>===================================================================================
@import "blocks/header";
@import "blocks/promo";
@import "blocks/main";
@import "blocks/services";
@import "blocks/common";
@import "blocks/about";
@import "blocks/contact";
@import "blocks/reviews";
@import "blocks/choice";
@import "blocks/brands";
@import "blocks/areas";
@import "blocks/partners";
@import "blocks/call";
@import "blocks/footer";
@import "blocks/services-page";
//</blocks>===================================================================================


//<MAIN LAYOUT>=================================================================================
.container {
	max-width: 1600px;
	padding: 0 70px;
	margin: 0 auto;
	@media (max-width: $md1) {
		min-width: 970px;
	}
	@media (max-width: $md2) {
		min-width: 750px;
	}
	@media (max-width: $md2) {
		min-width: none;
		padding: 0 10px;
	}
}
//<MAIN LAYOUT>=================================================================================

