
//<Icons Fonts>=================================================================================
//@import "icons";
//</Icons Fonts>=================================================================================

//<Default font>================================================================================
//$fontFamily: ;
//</Default font>================================================================================

//</FONTS>=======================================================================================

//<VARIABLES>====================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$md1: 1460;
$md2: 991.98;
$md3: 639.98;
$md4: 479.98;
$first-color: #0C0E5D;
$second-color: #FFCC00;
$border: 1px solid rgba($color: $first-color, $alpha: 0.6);
//</VARIABLES>====================================================================================

//<NULL, COMMON PARAMETERS>========================================================================
@import 'base/null';
@import 'base/mixins';
body {
	background-color: #F8FAFF;
	color: $first-color;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</NULL, COMMON PARAMETERS>========================================================================

//<blocks>===================================================================================
@import "blocks/header";
@import "blocks/promo";
@import "blocks/main";
@import "blocks/services";
@import "blocks/common";
@import "blocks/about";
@import "blocks/contact";
@import "blocks/reviews";
@import "blocks/choice";
@import "blocks/brands";
@import "blocks/areas";
@import "blocks/partners";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/service-main";
@import "blocks/service-problems";
@import "blocks/service-brands";
@import "blocks/service-book";
@import "blocks/service-questions";
@import "blocks/areas-promo";
@import "blocks/areas-repair";
@import "blocks/book-a-service";
@import "blocks/header-media";
//</blocks>===================================================================================


//<MAIN LAYOUT>=================================================================================
.container {
	max-width: 1600px;
	padding: 0 70px;
	margin: 0 auto;
	// @media (max-width: ($md1 + px)) {
	// 	min-width: 970px;
	// }
	// @media (max-width: ($md2 + px)) {
	// 	min-width: 750px;
	// }
	// @media (max-width: ($md3 + px)) {
	// 	min-width: none;
	// 	padding: 0 10px;
	// }
}
//<MAIN LAYOUT>=================================================================================

